@media only screen and (max-width: 600px) {
    html,body {
        overflow-x: hidden;
    }

    .color1 {
        color: white;
    }

    #header {
        height: 80px;
    }
    #header h2 {
        margin: 0;
        padding: 0;
    }
    #header a {
        width: 100px;
        height: 50px;
        border: none;
        border-radius: 10px;
        background-color: transparent;
        text-decoration: none;
        color: black;
    }

    #main-idea {
        height: auto;
        background-color: rgb(121, 136, 198);
        text-align: center;
    }
    #main-idea h1 {
        font-size: 80px;
    }
    #main-idea .info {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #main-idea .info p {
        font-size: x-large;
    }
    #main-idea .info div {
        margin-bottom: 40px;
    }
    #main-idea button {
        width: 250px;
        height: 50px;
        border: none;
        border-radius: 10px;
        background-color: white;
        color: black;
        font-size: large;
    }
    #main-idea img {
        box-shadow: 2px 2px 5px 2px rgb(89, 100, 145); 
        border-radius: 10px;
        width: 90%;
        margin-bottom: 15px;
    }

    #annotations {
        background-repeat: no-repeat;
        background-position: 50%;
        background-color: rgb(15, 15, 15);
        height: auto;
    }
    #annotations h1 {
        color: white;
        font-size: 55px;
    }
    #annotations .info {
        height: 300px;
        padding: 15px;
        border-radius: 10px;
        display: block;
        transition: transform 500ms;
    }
    #annotations .info:hover {
        transform: translateY(-4%);
    }
    #annotations .info p {
        color: white;
        font-size: x-large;
    }

    #citations {
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px
    }
    #citations h2 {
        font-size: 55px;
    }
    #citations p {
        font-size: x-large;
    }
    #citations img {
        box-shadow: 5px 5px 10px 5px rgb(230, 230, 230);
        border-radius: 10px;
        transition: transform 500ms;
        width: 95%;
    }
    #citations img:hover {
        transform: scale(1.025);
    }

    #ratings {
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px
    }
    #ratings h2 {
        font-size: 55px;
    }
    #ratings p {
        font-size: x-large;
    }

    #questions {
        height: auto;
        background-color: rgb(15, 15, 15);
    }
    #questions h2 {
        font-size: 55px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #download {
        height: 600px;
        background: rgb(121, 136, 198);
    }
    #download h1 {
        font-size: 65px;
    }
    #download p {
        font-size: xx-large;
    }
    #download button {
        width: 250px;
        height: 50px;
        border: none;
        border-radius: 10px;
        background-color: white;
        color: black;
        font-size: large;
    }

    #footer {
        margin-bottom: 30px;
    }
}





@media only screen and (min-width: 992px) { 
    html, body {
        overflow-x: hidden;
    }

    .color1 {
        color: white;
    }

    #main-idea {
        height: 700px;
        background-color: rgb(121, 136, 198);
    }
    #main-idea h1 {
        font-size: 100px;
    }
    #main-idea .info {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #main-idea .info p {
        font-size: x-large;
    }
    #main-idea .info div {
        margin-bottom: 40px;
    }
    #main-idea button {
        width: 250px;
        height: 50px;
        border: none;
        border-radius: 10px;
        background-color: white;
        color: black;
        font-size: large;
    }
    #main-idea img {
        box-shadow: 5px 5px 10px 6px rgb(89, 100, 145); 
        border-radius: 10px;
        width: 900px;
    }

    #annotations {
        background-repeat: no-repeat;
        background-position: 50%;
        background-color: rgb(15, 15, 15);
        height: 800px;
    }
    #annotations h1 {
        color: white;
        margin-top: 50px;
        font-size: 60px;
    }
    #annotations .info {
        height: 300px;
        padding: 15px;
        border-radius: 10px;
        display: block;
        transition: transform 500ms;
    }
    #annotations .info:hover {
        transform: translateY(-4%);
    }
    #annotations .info p {
        color: white;
        font-size: xx-large;
    }

    #citations {
        height: 400px;
    }
    #citations h2 {
        font-size: 60px;
    }
    #citations p {
        font-size: x-large;
    }
    #citations img {
        box-shadow: 5px 5px 10px 5px rgb(230, 230, 230);
        border-radius: 10px;
        transition: transform 500ms;
        width: 700px;
    }
    #citations img:hover {
        transform: scale(1.025);
    }

    #ratings {
        height: 400px;
    }
    #ratings h2 {
        font-size: 60px;
    }
    #ratings p {
        font-size: x-large;
    }
    #ratings img {
        height: 400px;
        margin-top: 30px;
        transition: transform 500ms;
    }
    #ratings img:hover {
        transform: scale(1.025);
    }

    #questions {
        height: auto;
        background-color: rgb(15, 15, 15);
    }
    #questions h2 {
        font-size: 65px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #download {
        height: 600px;
        background: rgb(121, 136, 198);
    }
    #download h1 {
        font-size: 70px;
    }
    #download p {
        font-size: xx-large;
    }
    #download button {
        width: 250px;
        height: 50px;
        border: none;
        border-radius: 10px;
        background-color: white;
        color: black;
        font-size: large;
    }
}