/* Header */
#header {
    height: 100px;
}

#title {
    display: flex;
    align-items: center;

}

#login-button {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

body {
    background-image: url('/img/background.png'); 
    background-repeat: no-repeat; 
    background-position: 50% 0; 
}

/* Main Body */
#main-body {
}

#main-idea {
    display: flex;
    align-items: center;

    margin-top: 150px;
    margin-bottom: 200px;
}

#annotations {
    display: flex;
    align-items: center;

    margin-bottom: 200px;
}

#annotations h4 {
    font-size: large;
}

#citations-ratings {
    display: flex;

    margin-bottom: 200px;
}

#citations-ratings p {
    font-size: large;
}

#rating {
    display: flex;
    align-items: center;

    margin-bottom: 200px;
}

#add-to-chrome {
    justify-content: center;
    margin-bottom: 250px;
}

#add-to-chrome button {
    margin-top: 25px;
    width: 200px;
    height: 50px;
}

.panel-body {
    background-color: whitesmoke; 
    height: 300px;
    border-radius: 10px;
}