body {
    background-image: url('/img/background.png'); 
    background-repeat: no-repeat; 
    background-position: 50% 0; 
}

#main-body {
}

#main-idea {
    display: flex;
    align-items: center;

    margin-top: 200px;
    margin-bottom: 300px;
}

#annotations {
    display: flex;
    align-items: center;

    margin-bottom: 300px;
}

#citations {
    display: flex;
    align-items: center;

    margin-bottom: 300px;
}

#rating {
    display: flex;
    align-items: center;

    margin-bottom: 300px;
}

#add-to-chrome {
    justify-content: center;
    margin-bottom: 300px;
}

#add-to-chrome button {
    margin-top: 25px;
    width: 200px;
    height: 50px;
}

.panel-body {
    background-color: whitesmoke; 
    height: 300px;
    border-radius: 10px;
}