#header {
    height: 100px;
    background-color: azure;
}

#title {
    display: flex;
    align-items: center;
}

#login-button {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}