#main-body {
    background-color: whitesmoke;
}

#annotations {
    margin-top: 200px;
    margin-bottom: 400px;
}

#product {
    margin-top: 400px;
    margin-bottom: 400px;
}

#rating {
    margin-top: 400px;
    margin-bottom: 200px;
}